body {
      font-family:'Times New Roman', Times, serif;
      scroll-behavior: smooth;
    }

    /* Navbar */
    .navbar {
      background: linear-gradient(90deg, #ff006a, #a10594d7, #ff5100);
    }

    .navbar-brand, .nav-link {
      color: white !important;
      font-weight: 700;
    }

    .nav-link:hover {
      font-weight: bold;
      font-size: 25px;
    }

    /* Home Section */
    #home {
      background: linear-gradient(135deg, #30ce21, #3022f0);
      color: white;
      padding: 100px 0;
      text-align: center;
    }

    #home h1 {
      font-size: 3rem;
      font-weight: 700;
    }

    #home p {
      font-size: 18px;
    }

    /* About Section */
    #about {
      padding: 80px 0;
      background-color:rgb(248, 245, 243);
    }

    /* Projects */
    #projects {
      background-color:rgb(247, 241, 237);
      padding: 80px 0;
    }

    .project-card {
      transition: transform 0.3s ease;
    }

    .project-card:hover {
      transform: translateY(-5px);
    }

    /* Contact */
    #contact {
      background: linear-gradient(90deg, #8ef706, #f73f11, blue);
      color: white;
      padding: 80px 0;
    }

    footer {
      text-align: center;
      padding: 20px;
      background-color: #333;
      color: white;
    }
 